@use "globals" as *;

#navbar {
  background-color: $nav-fondo; 
  padding: 20px 0;

  nav {
    display: flex;
    justify-content: center; // Centra el nav
    align-items: center;

    ul {
      display: flex; // Estilo de fila para los elementos
      list-style: none; // Elimina los puntos de lista
      gap: 30px; // Espacio entre los enlaces

      li {
        a {
          text-decoration: none; // Elimina subrayado
          color: $text-nostyle; // Usa variable para el color de los enlaces
          font-size: 1rem;
          font-weight: 600;
          transition: color 0.3s ease-in-out; // Suaviza la transición de color

          &:hover {
            color: $text-nostyle; // Cambia de color al pasar el cursor
          }
        }
      }
    }
  }
}


.custom-card {
  max-width: 80%;
  margin-bottom: $card-margin-bottom;
  background-color: $card-bg;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  a{
    text-decoration: none;
  }
  .custom-card-inner {
    display: flex;
    flex-direction: row;
  }

  .custom-card-image {
    width: $card-image-width;
    overflow: hidden;
    background-image: url(../assets/fondo_about_me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;
  }

  .custom-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .custom-card-body {
    padding: $card-body-padding;
    flex: 1;
  }

  .custom-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .custom-card-text {
    font-size: 1rem;
    margin-bottom: 12px;
  }

  .custom-card-footer {
    font-size: 0.875rem;
    color: $card-footer-color;
  }

  .custom-text-muted {
    color: $card-footer-color;
  }
}
