@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900;1000&display=swap");

$background-color:#000;
$text-nostyle:#ffffff;
$nav-fondo: rgba(44, 44, 44, 0.781);
//$neon-green:#0fa;
$neon-green:rgb(0, 115, 255);
$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xlarge: 1200px
);
$card-height: 50vh;
$card-width: 30%;

$card-bg: $nav-fondo;
$card-border-radius: 8px;
$card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$card-padding: 16px;
$card-margin-bottom: 16px;

$card-image-width: 40%;
$card-body-padding: 16px;
$card-footer-color:rgb(0, 115, 255);


$container-width: 80%;
$card-width: 300px;
$card-height: 200px;
$transition-duration: 0.4s;
$box-shadow-default: 0 20px 50px rgba(0, 0, 0, 0.8);
$face1-bg: #333;
$face2-bg: whitesmoke;
$face1-box-shadow: inset 0 0 60px whitesmoke, 
                   inset 20px 0 80px #f0f, 
                   inset -20px 0 80px #0ff, 
                   inset 20px 0 300px #f0f, 
                   inset -20px 0 300px #0ff, 
                   0 0 50px #fff, 
                   -10px 0 80px #f0f, 
                   10px 0 80px #0ff;